.bricolage-grotesque-Font {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    /* weight value should be b/w 200-800*/
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;  
}

.libertinus-sans-regular {
    font-family: "Libertinus Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 
.libertinus-sans-bold {
    font-family: "Libertinus Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
 
.libertinus-sans-regular-italic {
    font-family: "Libertinus Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}
 
.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}

.container-fluid {
    background-color: #f8f9fa;
}

.bg-dark {
    background-color: #fdf8d0 !important;
}

.form-control {
    border: none;
    border-radius: 8px;
}

.btn-warning {
    background-color: #2a9050;
    color: #000;
    font-weight: bold;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
small{
    color: red;
}