<section class="d-flex align-items-center py-5 h-100">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
                <div class="lc-block d-flex justify-content-center align-items-center">
                    <img src="https://i.ibb.co/3Y13H9tM/download.png" alt="error_Img">
                </div>
            </div>
            <div class="col-md-6 text-center text-md-start ">
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <h1 class="display-1 fw-bold text-muted bricolage-grotesque-Font">Error 404</h1>

                    </div>
                </div>
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <h1 class="fw-bold h4 bricolage-grotesque-Font">Oops! Something Went Wrong<br></h1>
                    </div>
                </div>
                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="rfs-11 fw-light libertinus-sans-regular"> The page you are looking for was moved, removed or might never
                            existed.<br>
                            Please try again later.
                        </p>
                    </div>
                </div>
                <div class="lc-block">
                    <button class="btn btn-secondary bricolage-grotesque-Font custom-btn" [routerLink]='dynamicRouterLink'>Back to homepage</button>
                </div>
            </div>
        </div>
    </div>
</section>