<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center bg-light">
    <div class="row w-75 shadow rounded overflow-hidden" style="border-radius: 20px; height: 90vh;">
        <div class="col-md-6 bg-dark text-dark p-5 d-flex flex-column justify-content-center"
            style="background-color:#0b3d2e;">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="../../../assets/images/farmconnect.png" alt="logo" class="logo">
                <h1 class="mb-4 fw-bold text-dark bricolage-grotesque-Font">FarmConnect</h1>
                <h2 class="fw-bold mb-3 text-dark libertinus-sans-regular">Reset Your Password</h2>
            </div>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()" class="libertinus-sans-regular">
                <div class="mb-3">
                    <div class="input-group">
                        <button class="btn btn-light" disabled><i class="bi bi-envelope-fill"></i></button>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Email"
                            formControlName="email">
                        <button type="button" class="btn btn-success btn-sm" (click)="sendOtp()">Send OTP</button>
                    </div>
                    <div *ngIf="forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').invalid">
                        <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required</small>
                        <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Please enter a valid email</small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <input type="text" maxlength="4" class="form-control" placeholder="Enter 4-digit OTP" formControlName="otp">
                    </div>
                    <div *ngIf="f.otp.touched && f.otp.invalid" class="text-danger">
                        <small>OTP must be 4 digits.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <button class="btn btn-light" disabled><i class="bi bi-lock-fill"></i></button>
                        <input [type]="showPassword?'text':'password'" name="newPassword" id="newPassword"
                            placeholder="Enter your new password" class="form-control" formControlName="newPassword">
                    </div>
                    <div
                        *ngIf="forgotPasswordForm.get('newPassword').touched && forgotPasswordForm.get('newPassword').invalid">
                        <small *ngIf="forgotPasswordForm.get ('newPassword')?.errors?.['required']">Password is
                            required</small>
                        <small *ngIf="forgotPasswordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 6 characters</small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <button class="btn btn-light" disabled><i class="bi bi-lock-fill"></i></button>
                        <input [type]="showPassword?'text':'password'" name="confirmPassword" id="confirmPassword"
                            placeholder="Confirm new password" class="form-control" formControlName="confirmPassword">
                    </div>
                    <div
                        *ngIf="forgotPasswordForm.get('confirmPassword').touched && forgotPasswordForm.get('confirmPassword').invalid">
                        <small *ngIf="forgotPasswordForm.get ('confirmPassword')?.errors?.['required']">Password is
                            required</small>
                        <small *ngIf="forgotPasswordForm.get('confirmPassword')?.errors?.['minlength']">Password must be
                            at least 6
                            characters</small>
                    </div>
                </div>
                <button type="submit" class="btn btn-success w-100 mb-3 text-white">Reset Password</button>
            </form>
            <p class="text-center libertinus-sans-regular">
                Remembered your password?
                <a routerLink="/login" class="text-primary libertinus-sans-bold" style="text-decoration: none;">Sign
                    in</a>
            </p>
            <footer class="mt-auto text-center small libertinus-sans-regular">
                © 2025 FarmConnect. All rights reserved.
            </footer>`
        </div>
        <div class="d-none d-md-flex col-md-6 p-0 ">
            <img src="https://i.pinimg.com/736x/fd/01/45/fd0145bbb398cc6ecebae40c140a3fd8.jpg" alt="forgot-password-img">
        </div>
    </div>
</div>