.custom-navbar {
    background-color: #236a55;
}
 
.nowrap-text {
    white-space: nowrap;
}
 
.navbar-brand {
    font-weight: bold;
    color: #fff;
}
 
.nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
 
.badge {
    font-size: 0.9rem;
}

.home-page-text {
    font-size: 20px;
    background-color: rgba(195, 175, 167, 0.3);
}

.card-body {
    background-color: rgba(195, 175, 167, 0.3);
}

.banner img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}